.category-image
  position: relative
  & > img
    width: 457px
    height: 296px
    @media (max-width: 590px)
      width: 100%
  & > p
    position: absolute
    font-size: 14px
    color: #FFF
    font-family: "Montserrat Semibold",sans-serif
    bottom: 17px
    left: 20px
