.page-title
  margin-bottom: 35px
  text-align: center
  color: #14222d
  font-family: Montserrat
  font-size: 48px
  font-weight: 400
  text-transform: uppercase
  @media (max-width: 590px)
    font-size: 36px !important

  .bold
    font-family: Montserrat ExtraBold
    font-weight: 700

  .regular
    font-family: Montserrat
    font-weight: 400

  .additional
    float: right
    @media (max-width: 960px)
      float: left

  > br
    display: none