$arrow: "../../../assets/images/desktop/arrow.png"

.nav1
  @media (max-width: 1280px)
    display: none
  

.navbar1-menu__top-button
  margin: 20px auto
  width: 100% !important
  margin: 0
  padding: 40px 0
  background-color: #181819 !important
  cursor: pointer
  @media (min-width: 1280px)
    display: none
.navbar1-menu__socials
  margin: 50px auto
  @media (min-width: 1280px)
    display: none

.navbar1-menu
  display: flex
  justify-content: space-between
  transition: all .5s
  @media (max-width: 1280px)
    justify-content: center
    display: grid
    margin: 30px
    &__item
      margin: 10px auto


  &__item
    display: inline-block

    &:last-child
      margin-right: 0

    &:nth-child(6)
      position: relative

      &:after
        content: url($arrow)
        position: absolute
        right: -18px
        top: -1px

  &__link
    font-family: "Montserrat Semibold", sans-serif
    color: #ffffff
    font-size: 14px
    font-weight: 400
    text-decoration: none

  &__link_active
    color: #ed8a11

.nav-list__links-container
  z-index: 100000 !important



